In [1]:
import pandas as pd

df = pd.DataFrame({
    "id_venda": [1, 2, 3, 4, 5, 6],
    "produto": ["Notebook", "Mouse", "Notebook", "Teclado", "Mouse", "Notebook"],
    "categoria": ["Eletrônicos", "Acessórios", "Eletrônicos", "Acessórios", "Acessórios", "Eletrônicos"],
    "valor": [3500, 150, 3600, 300, None, 3400],
    "data_venda": ["2024-01-10", "2024-01-12", "2024-02-05", "2024-02-10", "2024-02-15", None]
})

In [2]:
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_venda    6 non-null      int64
 1   produto     6 non-null      object
 2   categoria   6 non-null      object
 3   valor       5 non-null      float64
 4   data_venda  5 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 372.0+ bytes

       id_venda        valor
count  6.000000     5.000000
mean   3.500000  2190.000000
std    1.870829  1795.967706
min    1.000000   150.000000
25%    2.250000   300.000000
50%    3.500000  3400.000000
75%    4.750000  3500.000000
max    6.000000  3600.000000

In [4]:
df["data_venda"] = pd.to_datetime(df["data_venda"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_venda    6 non-null      int64
 1   produto     6 non-null      object
 2   categoria   6 non-null      object
 3   valor       5 non-null      float64
 4   data_venda  5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 372.0+ bytes